{% extends "base.html" %}
{% block header %}
<div class='flex gap-4 w-full items-center justify-start  border-b-2 border-gray-300'>
    <a class='text-2xl' href='/'>New questions</a>
    <a href="/hot">hot question</a>
</div>

    {% endblock header %}
    {% block content %}
    <div class='flex flex-col gap-4 w-full'>
        {% for item in items %}
        {% include "layouts/card_layout.html" with id=item.id image_url=item.image_url like_count=item.like_count title=item.title desc=item.desc answer_count=item.answer_count tags=item.tags.all %}
        {% endfor %}
    </div>
    {% endblock content %}
    {% block pagination %}
    {% include "layouts/pagination.html" %}
    {% endblock pagination %}