{% extends "base.html" %}
{% block header %}{% endblock header %}
{% block content %}
<div class='flex flex-col gap-8 w-full h-full'>
    {% include "layouts/card_layout.html" with id=item.id likes_count=likes_count title=item.title desc=item.desc answer_count=item.answer_count tags=item.tags.all is_liked=is_liked author_avatar=avatar %}
    <div class='flex flex-col gap-4 w-full'>
        {% for data in answers %}
        {% include "layouts/card_answer_layout.html" with id=data.id likes_count=data.likes_count answer=data.content avatar=data.avatar_url %}
        {% endfor %}
    </div>
    <form method='post' action="" class='flex flex-col items-start'>
        {% csrf_token %}
        <div class='w-full flex gap-8 items-start justify-start  w-full'>
            <label for='content' class='w-36 text-nowrap'>
                Answer
            </label>
            <textarea type="text" name="content" id="content" placeholder='answer'
                value="{{ item.user.content|default:'' }}"
                class='border border-1 rounded-md border-gray-200 h-full py-1 ps-2 w-full'></textarea>
        </div>
        <div class="text-red-500">
            {% if form.errors %}
            {{form.errors.as_text}}
            {% endif %}

        </div>
        <button type='submit'
            class='duration-200 transition-all border border-1 border-gray-200 rounded-md hover:shadow cursor-pointer px-2 py-1'>Save</button>
    </form>

</div>
{% endblock content %}
{% block pagination %}
{% include "layouts/pagination.html" %}
{% endblock pagination %}