{% extends "base.html" %}
{% block header %}{% endblock header %}
{% block content %}
<div class='flex flex-col gap-8 w-full h-full'>
    {% include "layouts/card_layout.html" with id=item.id image_url=item.image_url like_count=item.like_count title=item.title desc=item.desc answer_count=item.answer_count tags=item.tags %}
    <div class='flex flex-col gap-4 w-full'>
        {% for data in item.answers %}
        {% include "layouts/card_answer_layout.html" with image_url=data.image_url id=data.id like_count=data.like_count title=data.title desc=data.desc answer_count=data.answer_count answer=data.answer %}
        {% endfor %}
    </div>

</div>
{% endblock content %}
