{% extends "base.html" %}
{% block header %}{% endblock header %}
{% block content %}
<div class='flex flex-col gap-8 w-full h-full'>
    {% include "layouts/card_layout.html" with id=item.id image_url=item.image_url likes_count=item.likes_count title=item.title desc=item.desc answer_count=item.answer_count tags=item.tags.all %}
    <div class='flex flex-col gap-4 w-full'>
        {% for data in answers %}
        {% include "layouts/card_answer_layout.html" with image_url=data.image_url id=data.id likes_count=data.likes_count answer=data.content %}
        {% endfor %}
    </div>

</div>
{% endblock content %}
{% block pagination %}
{% include "layouts/pagination.html" %}
{% endblock pagination %}